{% extends 'base.html.twig' %}

{% block title %}
    Liste des utilisateurs
{% endblock %}

{% block body %}
    <div class="ui container mt-5">
        {% if success == '1' %}
            <div class="ui positive message">
                <i class="close icon" onclick="closeMessage(this)"></i>
                <div class="header">
                    {% if message != null and message != '' %}
                        {{ message }}
                    {% else %}
                        L'action a bien été effectuée
                    {% endif %}
                </div>
            </div>
        {% elseif success == '0' %}
            <div class="ui negative message">
                <i class="close icon" onclick="closeMessage(this)"></i>
                <div class="header">
                    {% if message != null and message != '' %}
                        {{ message }}
                    {% else %}
                        Une erreur s'est produite
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="ui piled segment">

            <h1>Liste des utilisateurs</h1>

            <table class="ui celled table">
                <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom de famille</th>
                    <th>Email</th>
                    <th>Ville</th>
                    <th>Âge</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.location }}</td>
                        <td>{{ user.age }}</td>
                        <td>{{ user.date | date('d/m/Y') }}</td>
                        <td>
                            <a class="no-link" href="/user/{{ user.id }}">
                                <i class="pencil alternate icon"></i>
                            </a>
                            <a class="action-icon" style="color: red; cursor: pointer;"
                               onclick="validateUserDeletion({{ user.id }})">
                                <i class="trash alternate icon"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="/user/new">
                <button class="ui active button">
                    <i class="plus icon"></i>
                    Créer un nouvel utilisateur
                </button>
            </a>
        </div>
    </div>

    <!-- Modal de validation de la suppression -->
    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Supprimer l'utilisateur ?
        </div>
        <div class="content">
            <p>Voulez-vous réélement supprimer cette utilisateur ?</p>
        </div>
        <div class="actions">
            <div class="ui red deny right labeled icon button">
                NON, SURTOUT PAS !
                <i class="cancel icon"></i>
            </div>
            <div class="ui positive teal right labeled icon button" onclick="deleteUser()">
                Oui
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
{% endblock %}
